html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
}

body._lock {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: black;
}


#__next {
  min-height: 100%;
}